* {
  box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	background-color: rgb(18, 129, 37);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	padding-top: 50px;
}

article.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 200px;
	background-color: rgb(255, 255, 255);
	border-radius: 5%;
}

header {
	width: 100%;
	text-align: left;
	padding-left: 10px;
	font-size: 70px;
}

section.number {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 200px;
	font-size: 90px;
	font-weight: bold;
}

footer {
	width: 100%;
	text-align: left;
	padding-left: 10px;
	font-size: 70px;
}

.heart::after {
  content: "♥";
  color: red;
}

.spade::after {
  content: "♠";
  color: black;
}

.club::after {
  content: "♣";
  color: black;
}

.diamond::after {
  content: "♦";
  color: red;
}

.inverse {
  transform: rotate(180deg);
}

.red {
  color: red;
}

.black {
  color: black;
}

section.button_container {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}

.button_new_card {
	width: 200px;
	height: 50px;
	font-size: 28px;
	color: rgb(109, 108, 116);
	border-color: rgb(193, 221, 245);
	border: none;
	cursor: pointer;
	border-radius: 4%;
	transition: 0.5s;
}

.button_new_card:hover {
	background-color: rgb(130, 188, 240);
	color: white;
	transform: scale(1.1);
}